// بسم الله

// Variables
$black: #2B2B2B;
$yellow-dark: #BB6B02;
$green-dark: #008D7C;
$bg-yellow: #FAFEEF;
$bg-green: #EDFFFB;

$primary-light: #FFFD63;
$primary: #FCC101;
$primary-dark: #BB6B02;

$secondary-dark: #84FFEC;
$secondary: #C2FFF5;