// بسم الله 
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// font-weight 500, 400

@import 'response.scss';
@import 'const.scss';
@import './animation.scss';
@import './header.scss';
@import './main.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $black;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: $primary-light;
  color: $black;
  border: 2px solid $black;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

html {
  scroll-behavior:smooth;
}

body {
  background: linear-gradient(to right, $bg-yellow 70%, $bg-green);
  font-family: "Rubik", sans-serif;
}

.shadow {
  box-shadow: 0 0 20px 2px rgba(0, 34, 46, 0.362);
}
