@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* Extra small */
/* Small */
@media screen and (min-width: 768px) {
  body {
    line-height: 1.5; }

  #header--menu {
    display: none; }

  .nav--list {
    display: flex !important;
    align-items: center;
    gap: .7rem;
    list-style: none; }

  header .header--hero .btn {
    height: 60px; }

  main #why-alvagate .wrapper {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem 2rem; }
    main #why-alvagate .wrapper .item {
      flex-direction: column !important;
      width: 45%;
      text-align: center;
      height: 290px !important; }

  main #why-alvagate .item .imgBx {
    width: 150px !important; }

  main #app .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end; }
    main #app .wrapper .item {
      width: 45% !important; }

  main #how-to-use {
    font-size: 1.5rem; }
    main #how-to-use h2 {
      font-size: 1.7rem !important; }
    main #how-to-use .sub-branch {
      gap: 5rem !important; }
    main #how-to-use .right img,
    main #how-to-use .left img {
      width: 400px !important; }
    main #how-to-use .green, main #how-to-use .yellow {
      margin-top: 4rem !important;
      padding-block: 1.5rem 2rem;
      padding-inline: 2.5rem !important; }
    main #how-to-use ul {
      line-height: 1.7 !important; }

  main #logos .slider {
    --width: 110px !important;
    --height: 110px !important; }

  main #services .card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem; }
    main #services .card-wrapper .card {
      padding-block: 2rem;
      width: fit-content;
      width: calc(50% - 1rem);
      align-items: right !important; }
    main #services .card-wrapper .card ul {
      padding: 0;
      text-align: center;
      padding-block: 1rem 2rem; }
    main #services .card-wrapper .card ul li {
      margin-bottom: .5rem; }
      main #services .card-wrapper .card ul li::before {
        display: none; } }
/* Medium */
@media screen and (min-width: 992px) {
  header .header--nav li,
  header .header--nav a {
    font-size: 1.2rem !important; }

  header .header--hero {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 2rem;
    padding-block: 14rem 4rem;
    position: relative; }

  header .header--hero h1 {
    font-size: 3.3rem !important; }

  header .header--hero p,
  header .header--hero a {
    font-size: 1.3rem !important; }

  header .header--hero small {
    font-size: 1rem !important; }

  header .header--hero p {
    margin-bottom: 3rem; }

  header .header--hero .card {
    position: sticky;
    top: 12rem;
    width: 900px !important;
    height: 400px !important;
    border: none;
    filter: drop-shadow(2px 5px 5px #FCC101); }
    header .header--hero .card .card--wrapper {
      height: 100%;
      padding: .5rem; }
    header .header--hero .card .card--wrapper img {
      width: 100%;
      height: auto !important; }

  main {
    transform: translateY(0px) !important; }

  #form,
  #question {
    max-width: 720px;
    margin-inline: auto; } }
/* Large Screen */
@media screen and (min-width: 1200px) {
  header .header--nav li,
  header .header--nav a {
    font-size: 1.5rem !important; }

  header .header--nav a {
    padding: .2em .7em; }

  header .header--hero {
    align-items: center !important; }

  header .header--hero h1 {
    font-size: 4rem !important; }

  header .header--hero p,
  header .header--hero a {
    font-size: 1.5rem; }

  header .header--hero .card {
    height: auto !important;
    width: 630px !important;
    border: 6px solid #2B2B2B;
    filter: unset !important; }

  main #why-alvagate {
    padding-block: 5rem; }

  main #why-alvagate .wrapper .item {
    height: 310px !important; }
    main #why-alvagate .wrapper .item h3, main #why-alvagate .wrapper .item p, main #why-alvagate .wrapper .item .link {
      font-size: 1.5rem !important; }

  main #logos .slider {
    --width: 150px !important;
    --height: 150px !important; }

  main #services .card, main #services .offer-card {
    padding-block: 3rem !important;
    padding-inline: 2rem !important; }

  main #services .offer-card h3, main #services .offer-card li, main #services .offer-card p, main #services .offer-card .btn,
  main #services .card h3,
  main #services .card li,
  main #services .card p,
  main #services .card .btn {
    font-size: 1.3rem !important; }
  main #services .offer-card h4,
  main #services .card h4 {
    font-size: 3.3rem !important; }

  footer #question p, footer #question span, footer #question .btn,
  footer #form p,
  footer #form span,
  footer #form .btn {
    font-size: 1.3rem !important; }

  .headding {
    font-size: 1.3rem !important; }

  footer #footer {
    font-size: 1.2rem !important; }
    footer #footer .list img {
      width: 34px !important; } }
/* Extra Large Screen */
/* Extra Extra Large Screen */
.header--nav .logo {
  transform-origin: left top;
  animation: shrink-img ease forwards;
  animation-timeline: scroll(root);
  animation-range: 0% 150px; }
@keyframes shrink-img {
  to {
    transform: scale(0.6) translateY(10px); } }
.header--nav .header--bg {
  transform-origin: left top;
  animation: shrink-bg ease forwards;
  animation-timeline: scroll(root);
  animation-range: 0% 150px; }
@keyframes shrink-bg {
  to {
    transform: scaleY(0.65); } }
.header--hero .card {
  view-timeline-name: --card; }
  .header--hero .card .card--wrapper {
    transform-origin: center center;
    transform: scale(1.5);
    animation: move-img linear forwards;
    animation-timeline: --card;
    animation-range: contain -250px exit -170px; }
@keyframes move-img {
  to {
    transform: scale(1); } }
#why-alvagate .wrapper .item {
  animation: fade-in ease forwards;
  animation-timeline: view();
  animation-range: 0% 30%; }
@keyframes fade-in {
  0% {
    transform: scale(0.4);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
#app .item {
  position: sticky;
  top: 120px; }

@supports (animation-timeline: view()) {
  #app .item {
    animation: fade-up ease forwards;
    animation-timeline: view();
    animation-range: 700px contain; }
  @keyframes fade-up {
    to {
      transform: translateY(20%) scale(0.6); } }
  #app .item:last-child {
    animation-range: 700px 1700px; } }
#how-to-use {
  overflow: clip; }
  #how-to-use .right {
    opacity: 0;
    transform: translateX(200%) rotate(180deg);
    animation: from-right linear forwards;
    animation-timeline: view();
    animation-range: 0% 40%; }
  #how-to-use .left {
    opacity: 0;
    transform: translateX(-200%) rotate(-180deg);
    animation: from-left linear forwards;
    animation-timeline: view();
    animation-range: 0% 40%; }
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(200%) rotate(90deg); }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg); } }
@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-200%) rotate(-90deg); }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg); } }
  #how-to-use .yellow {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in-left linear forwards;
    animation-timeline: view();
    animation-range: 0% 35%; }
  #how-to-use .green {
    opacity: 0;
    transform: translateX(100%);
    animation: slide-in-right linear forwards;
    animation-timeline: view();
    animation-range: 0% 35%; }
@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(100%); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%); }
  to {
    opacity: 1;
    transform: translateX(0); } }
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1); }
.slider .list .item {
  animation: auto-run 10s linear infinite;
  animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) ); }
  .slider .list .item:hover {
    filter: grayscale(0); }

@keyframes auto-run {
  from {
    left: 100%; }
  to {
    left: calc(var(--width) * -1); } }
header {
  position: relative; }

.header--nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100vw;
  height: fit-content; }
  .header--nav .header--bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    height: calc(100% + .5rem);
    background: linear-gradient(to right, #FAFEEF 70%, #EDFFFB); }

.header--nav .nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }
  .header--nav .nav .right {
    height: max-content;
    padding-top: .7rem; }
  .header--nav .nav .logo {
    height: 150px;
    transform: translate(-13px, 5px);
    object-fit: contain; }

.header--nav .nav .right {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem; }
  .header--nav .nav .right .nav--list {
    display: none; }
  .header--nav .nav .right summary {
    list-style: none; }
    .header--nav .nav .right summary img {
      border-radius: 5px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); }
  .header--nav .nav .right .btn {
    display: grid;
    place-items: center;
    min-height: 32px;
    height: max-content;
    min-width: 120px;
    margin-inline: .7rem; }
  .header--nav .nav .right details {
    position: relative; }
  .header--nav .nav .right details ul {
    position: absolute;
    top: calc(100% + .5rem);
    list-style: none;
    background: linear-gradient(to right, #FAFEEF 70%, #EDFFFB) fixed;
    max-height: fit-content;
    overflow: clip;
    padding-inline: 1rem;
    border-radius: 8px;
    z-index: 0;
    line-height: 1.6; }

.header--hero {
  text-align: center;
  padding-top: 140px; }
  .header--hero h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.15;
    padding-block: 5rem 1.9rem; }
  .header--hero p {
    text-align: center;
    font-size: 1.04rem;
    line-height: 1.4;
    padding-bottom: 2rem; }
    .header--hero p strong {
      color: #BB6B02;
      font-weight: 400; }
  .header--hero .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1.04rem;
    font-weight: 600;
    padding-block: 1rem;
    width: 100%;
    border-radius: 10px; }
  .header--hero small {
    display: block;
    padding-block: .6rem 30px;
    font-size: .9rem; }
  .header--hero .card {
    margin-inline: auto;
    height: 500px;
    overflow: clip;
    width: fit-content;
    max-width: 100%;
    border: 6px solid #2B2B2B;
    border-radius: 1rem; }
    .header--hero .card--wrapper {
      height: 800px; }
      .header--hero .card--wrapper img {
        width: 100%;
        height: 100%;
        object-fit: contain; }

main section a {
  margin-bottom: 0; }

main section {
  padding-block: 2rem; }

main {
  transform: translateY(-50px); }

main section#why-alvagate {
  background: linear-gradient(to bottom left, #FFFD63, #FCC101);
  border-radius: 40px; }
  main section#why-alvagate .wrapper {
    display: flex;
    flex-direction: column;
    gap: 4.5rem; }
  main section#why-alvagate .wrapper .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    height: max-content;
    gap: 1.4rem;
    opacity: 0; }
    main section#why-alvagate .wrapper .item strong {
      font-weight: 500;
      color: #BB6B02; }
    main section#why-alvagate .wrapper .item a {
      margin: 0; }
    main section#why-alvagate .wrapper .item .textBx h3, main section#why-alvagate .wrapper .item .textBx p {
      font-size: 1.1rem; }
    main section#why-alvagate .wrapper .item .textBx h3 {
      margin-bottom: .5rem;
      line-height: 1.2; }
    main section#why-alvagate .wrapper .item .textBx p {
      line-height: 1.3; }
    main section#why-alvagate .wrapper .item .imgBx {
      width: 150px;
      text-align: center; }
      main section#why-alvagate .wrapper .item .imgBx img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

main section#app .wrapper {
  position: relative; }
  main section#app .wrapper .item {
    margin-inline: auto;
    position: sticky;
    top: 120px;
    text-align: center;
    background: linear-gradient(to right, #FAFEEF 70%, #EDFFFB);
    height: 720px; }
    main section#app .wrapper .item h2 {
      padding-block: 2rem; }
      main section#app .wrapper .item h2 .icons {
        display: block;
        padding-top: .5rem; }
        main section#app .wrapper .item h2 .icons img {
          width: 32px;
          margin-left: 8px; }
    main section#app .wrapper .item .imgBx {
      position: relative;
      height: 550px;
      width: 100%;
      border: 7px solid;
      border-radius: 15px;
      overflow: clip; }
      main section#app .wrapper .item .imgBx img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        object-fit: cover; }

main section#how-to-use .init {
  text-align: center; }
  main section#how-to-use .init p {
    font-weight: 600;
    font-size: 1.3; }
main section#how-to-use .sub-branch {
  display: flex;
  justify-content: center;
  gap: 1rem; }
  main section#how-to-use .sub-branch h2 {
    padding: .7rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 10px; }
  main section#how-to-use .sub-branch img {
    margin-top: 2.2rem;
    max-width: 100%;
    width: 170px;
    border-radius: 12px; }
  main section#how-to-use .sub-branch .left h2 {
    background-color: #FAFEEF;
    color: #BB6B02;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); }
  main section#how-to-use .sub-branch .right img {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); }
  main section#how-to-use .sub-branch .right h2 {
    background-color: #EDFFFB;
    color: #008D7C;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); }
main section#how-to-use .green, main section#how-to-use .yellow {
  margin-top: 22px;
  padding-inline: 1.4rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px; }
  main section#how-to-use .green h3:first-child, main section#how-to-use .yellow h3:first-child {
    text-align: center; }
  main section#how-to-use .green h3, main section#how-to-use .yellow h3 {
    text-align: start;
    font-weight: 500;
    padding-top: 1rem; }
  main section#how-to-use .green ul, main section#how-to-use .yellow ul {
    color: #2B2B2B;
    list-style: none;
    padding-block: 1.5rem;
    line-height: 1.4; }
    main section#how-to-use .green ul li, main section#how-to-use .yellow ul li {
      width: fit-content; }
      main section#how-to-use .green ul li::before, main section#how-to-use .yellow ul li::before {
        transform: translateX(12px);
        display: inline-block;
        content: '';
        background-color: green;
        width: 10px;
        aspect-ratio: 1; }
main section#how-to-use .green {
  background-color: #EDFFFB;
  color: #008D7C; }
main section#how-to-use .yellow {
  background-color: #FAFEEF;
  color: #BB6B02; }
  main section#how-to-use .yellow ul li::before {
    background-color: #FCC101; }
  main section#how-to-use .yellow p {
    color: #2B2B2B;
    padding-block: .5rem;
    line-height: 1.3; }

main #services .card, main #services .offer-card {
  padding: 1rem;
  background-image: linear-gradient(to bottom, #008D7C, #003835);
  border-radius: 25px;
  color: white; }
  main #services .card h3, main #services .card p, main #services .card .btn, main #services .offer-card h3, main #services .offer-card p, main #services .offer-card .btn {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    margin-inline: auto; }
  main #services .card .btn, main #services .offer-card .btn {
    padding-block: .7rem;
    width: 80%;
    font-weight: 500; }
main #services .card {
  margin-bottom: 1.5rem; }
  main #services .card h3 {
    padding-block: 0rem .2rem;
    font-size: 1.2rem; }
  main #services .card .money {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 2px 1px #BB6B02;
    padding-bottom: 1rem; }
    main #services .card .money small {
      font-size: .9rem; }
  main #services .card ul {
    line-height: 1.5;
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    list-style: none; }
    main #services .card ul li {
      position: relative; }
      main #services .card ul li::before {
        content: '';
        position: absolute;
        top: 0;
        right: -36px;
        background: url(../assets/icons/check-yellow.svg) no-repeat center/cover;
        width: 20px;
        aspect-ratio: 1; }
main #services .offer-card h3, main #services .offer-card p {
  padding-bottom: 1.5rem; }

section#form form {
  padding-block: 2rem 1rem; }
  section#form form input, section#form form .btn {
    width: 100%;
    height: 60px;
    margin-bottom: 1rem; }
  section#form form .btn {
    margin-top: 1.5rem;
    border-radius: 10px;
    border: 3px solid #2B2B2B;
    background-color: #FFFD63; }
  section#form form input {
    border-radius: 20px;
    padding-inline: 1.2rem;
    border: 2px solid #065B52;
    background: transparent; }
    section#form form input:hover, section#form form input:active {
      background-color: #C2FFF5; }
  section#form form input::placeholder {
    color: #065B52; }

section#question .item img {
  width: 24px;
  position: absolute;
  right: 1rem;
  top: 14px;
  transition: 500ms; }
section#question .item {
  position: relative;
  background-color: #FAFEEF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 10px; }
  section#question .item details summary {
    list-style: none; }
section#question .accordion {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #BB6B02;
  background-color: transparent;
  border: none;
  outline: none; }
section#question .panel {
  color: #2B2B2B;
  padding-inline: 1rem;
  padding-block: 1rem; }
section#question .btn {
  margin-top: 2rem;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px; }

#footer {
  padding-top: 1rem;
  color: #2B2B2B;
  text-align: center;
  font-size: .9rem;
  font-weight: 500; }
  #footer > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem; }
  #footer p {
    padding-block: 1rem; }
  #footer hr {
    border-color: #2B2B2B; }
  #footer img {
    width: 60px;
    aspect-ratio: 1; }
  #footer .list {
    display: flex;
    gap: .5rem; }
    #footer .list img {
      width: 24px; }

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: #2B2B2B; }

.nav-link, .active {
  position: relative;
  transition: 200ms; }
  .nav-link:hover::before, .nav-link:active::before, .nav-link:focus::before, .active:hover::before, .active:active::before, .active:focus::before {
    width: 100%;
    /* العرض 100% عند التمرير */
    transform: rotate(-2deg) scaleX(1.1);
    /* تأثير التوسع */ }
  .nav-link::before, .active::before {
    content: '';
    position: absolute;
    display: inline-block;
    z-index: -1;
    left: 0;
    top: 8px;
    background-color: aqua;
    width: 0;
    /* العرض 0px في البداية */
    height: 50%;
    /* يمكن أن تبقى ثابتة */
    transition: width 200ms, transform 200ms;
    /* الانتقال لتغيير الـ width و الـ transform */ }

.active::before {
  width: 100%;
  /* العرض 100% عند التمرير */
  transform: rotate(-2deg) scaleX(1.1);
  /* تأثير التوسع */ }

.headding, a.link {
  position: relative;
  display: block;
  z-index: 1;
  margin-bottom: 3.5rem;
  margin-inline: auto;
  width: max-content;
  font-size: 1rem;
  font-weight: 600; }
  .headding::before, a.link::before {
    position: absolute;
    z-index: -1;
    content: '';
    display: inline-block;
    width: calc(100% + 10px);
    height: 50%;
    background-color: aqua;
    left: -5px;
    top: 8px;
    transform: rotate(-1deg); }

a.link {
  display: inline-block; }

.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  background-color: #FFFD63;
  color: #2B2B2B;
  margin-inline: auto;
  border: 2px solid #2B2B2B;
  border-radius: 8px;
  outline: none;
  cursor: pointer; }

html {
  scroll-behavior: smooth; }

body {
  background: linear-gradient(to right, #FAFEEF 70%, #EDFFFB);
  font-family: "Rubik", sans-serif; }

.shadow {
  box-shadow: 0 0 20px 2px rgba(0, 34, 46, 0.362); }

.slider {
  overflow: clip;
  width: 100%;
  height: var(--height);
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent); }
  .slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1); }
  .slider .list {
    position: relative;
    display: flex; }
    .slider .list .item {
      position: absolute;
      left: 100%;
      height: 100%;
      width: var(--width);
      animation: auto-run 10s linear infinite;
      animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) ); }
      .slider .list .item:hover {
        filter: grayscale(0); }
      .slider .list .item img {
        width: 100%; }

@keyframes auto-run {
  from {
    left: 100%; }
  to {
    left: calc(var(--width) * -1); } }

/*# sourceMappingURL=style.css.map */
